.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 40px;
  padding: 40px;
  background-color: rgb(222, 230, 253);
  border-radius: 20px;
  place-items: center;
}

.container iframe {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}
