.container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
  place-items: start;
}

.container img {
  max-width: 100%;
  min-width: 90%;
  min-height: 90%;

  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.container img:hover {
  opacity: 1;
}

.container a {
  text-align: center;
  height: 32px;
}
